{% extends 'page_wrapper.html' %}

{% load staticfiles %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />

	{% block content_styles %}{% endblock %}
{% endblock %}

{% block header %}
	<h1>Avalon Minecraft</h1>

	<nav>
		<ul>
			<li>
				<a href="{% url 'home' %}">Home</a>
			</li>
			<li>
				<a href="{% url 'mods' %}">Mods</a>
			</li>
			<li>
				<a href="{% url 'modpacks' %}">Modpacks</a>
			</li>

			{% for link in links %}
			<li>
				<a href="{{ link.url }}">{{ link.name }}</a>
			</li>
			{% endfor %}
		</ul>

		<div id="login">
			{% if user.is_authenticated %}
			<span>{{ user.username }}</span>
			<form method="POST" action="{% url 'logout' %}">
				{% csrf_token %}
				<input type="submit" value="(logout)" />
			</form>
			{% else %}
			<a href="{% url 'login' %}">Login</a>
			{% endif %}
		</div>
	</nav>
{% endblock %}

{% block page %}
	<h1>It Works!</h1>
{% endblock %}

{% block footer %}
	<ul>
		<li>
			<a href="https://github.com/durandj/minecraft.git">Source</a>
		</li>
	</ul>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>

	{% block content_scripts %}{% endblock %}
{% endblock %}

