<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Minecraft{% endblock %}</title>

		{% load staticfiles %}

		<link rel="stylesheet" href="{% static 'css/compat.css' %}" />

		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="{% static 'css/minecraft.css' %}" />

		{% block styles %}{% endblock %}
	</head>
	<body>
		<header>
			{% block header %}{% endblock %}
		</header>
		<div id="page">
			{% block page %}{% endblock %}
		</div>
		<footer>
			{% block footer %}{% endblock %}
		</footer>

		{% block scripts %}{% endblock %}
	</body>
</html>

